<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>新しいパスワードを入力</title>
</head>

<body>
	<form th:action="@{/auth/reset-password}" th:object="${passwordResetForm}" method="post">
		<input type="hidden" th:field="*{token}">
		<div>
			<label for="newPassword">新しいパスワード:</label>
			<input type="password" th:field="*{newPassword}">
			<span th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></span>
		</div>
		<div>
			<label for="confirmPassword">パスワード確認:</label>
			<input type="password" th:field="*{confirmPassword}">
			<span th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></span>
		</div>
		<button type="submit">パスワード変更</button>
	</form>
</body>

</html>