<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<div th:replace="~{fragment :: meta}"></div>

	<div th:replace="~{fragment :: styles}"></div>

	<!-- Flatpickr -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

	<title>店舗詳細</title>
</head>

<body>
	<div class="kadai_002-wrapper">
		<!-- ヘッダー -->
		<div th:replace="~{fragment :: header}"></div>

		<main>
			<div class="container pt-4 pb-5 kadai_002-container">
				<div class="row justify-content-center">
					<div class="col-xxl-9 col-xl-10 col-lg-11">
						<nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
							<ol class="breadcrumb mb-0">
								<li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
								<li class="breadcrumb-item"><a th:href="@{/stores}">店舗一覧</a></li>
								<li class="breadcrumb-item active" aria-current="page">店舗詳細</li>
							</ol>
						</nav>

						<h1 class="mb-4 text-center" th:text="${store.getName()}"></h1>

						<div sec:authorize="hasRole('ROLE_GENERAL')" class="col-lg-4 px-0 ps-lg-4 mb-4">
							<div class="d-flex justify-content-end align-items-end mb-3">
								<div>
									<p class="card-text">お気に入り登録するには<a
											th:href="@{/membership/subscribe}">有料会員登録</a>が必要です。</p>
								</div>
							</div>
						</div>

						<div sec:authorize="hasRole('ROLE_PAID_MEMBER')" class="mb-4">
							<form th:if="${isFavorite != null and !isFavorite}"
								th:action="@{/stores/{id}/favorite(id=${store.id})}" method="post">
								<button type="submit" class="btn kadai_002-btn text-white">お気に入りに追加</button>
							</form>
							<form th:if="${isFavorite != null and isFavorite}"
								th:action="@{/stores/{id}/unfavorite(id=${store.id})}" method="post">
								<button type="submit" class="btn kadai_002-btn text-white">お気に入りから削除</button>
							</form>
						</div>

						<div th:if="${errorMessage}" class="alert alert-danger">
							<span th:text="${errorMessage}"></span>
						</div>

						<div class="mb-4">
							<img th:if="${store.getImageName()}" th:src="@{/storage/__${store.getImageName()}__}"
								class="w-100" alt="店舗画像">
							<img th:unless="${store.getImageName()}" th:src="@{/images/noImage.png}" class="w-100"
								alt="NO IMAGE">
						</div>

						<div class="container">
							<div class="row">
								<div class="col-lg-8 container mb-4">
									<div class="row pb-2 mb-2 border-bottom">
										<div class="col-4">
											<span class="fw-bold">店舗名</span>
										</div>

										<div class="col">
											<span th:text="${store.getName()}"></span>
										</div>
									</div>

									<div class="row pb-2 mb-2 border-bottom">
										<div class="col-4">
											<span class="fw-bold">説明</span>
										</div>

										<div class="col">
											<span class="kadai_002-pre-wrap" th:text="${store.getDescription()}"></span>
										</div>
									</div>

									<div class="row pb-2 mb-2 border-bottom">
										<div class="col-4">
											<span class="fw-bold">開店時間</span>
										</div>

										<div class="col">
											<span class="kadai_002-pre-wrap"
												th:text="${#temporals.format(store.getOpeningHours(), 'HH:mm')}"></span>
										</div>
									</div>

									<div class="row pb-2 mb-2 border-bottom">
										<div class="col-4">
											<span class="fw-bold">閉店時間</span>
										</div>
										<div class="col">
											<span class="kadai_002-pre-wrap"
												th:text="${#temporals.format(store.getClosingTime(), 'HH:mm')}"></span>
										</div>
									</div>

									<div class="row pb-2 mb-2 border-bottom">
										<div class="col-4">
											<span class="fw-bold">郵便番号</span>
										</div>

										<div class="col">
											<span th:text="${store.getPostalCode()}"></span>
										</div>
									</div>

									<div class="row pb-2 mb-2 border-bottom">
										<div class="col-4">
											<span class="fw-bold">住所</span>
										</div>

										<div class="col">
											<span th:text="${store.getAddress()}"></span>
										</div>
									</div>

									<div class="row pb-2 mb-2 border-bottom">
										<div class="col-4">
											<span class="fw-bold">電話番号</span>
										</div>

										<div class="col">
											<span th:text="${store.getPhoneNumber()}"></span>
										</div>
									</div>

									<div class="row pb-2 mb-2 border-bottom">
										<div class="col-4">
											<span class="fw-bold">定休日</span>
										</div>
										<div class="col">
											<span th:text="${store.getClosedDay()}"></span>
										</div>
									</div>
									<div class="row pb-2 mb-2 border-bottom">
										<div class="col-4">
											<span class="fw-bold">カテゴリ</span>
										</div>
										<div class="col">
											<span th:text="${store.getCategory().getName()}"></span>
										</div>
									</div>
								</div>

								<div class="row pb-2 mb-2 border-bottom">
									<h4 class="text-center mb-3">レビュー</h4>

									<div class="row row-cols-lg-3 row-cols-1 g-3 mb-5">
										<div class="col" th:each="review : ${reviews}">
											<div class="card h-100">
												<div class="card-body">
													<h6 class="card-subtitle mb-2 text-muted"
														th:text="${#temporals.format(review.timestamp, 'yyyy-MM-dd HH:mm')}">
													</h6>
													<div class="mb-2">
														<span class="text-warning"
															th:text="${'★'.repeat(review.rating)}"></span>
													</div>
													<p class="card-text" th:text="${review.comment}"></p>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div sec:authorize="hasRole('ROLE_GENERAL')" class="col-lg-4 px-0 ps-lg-4 mb-4">
									<div class="card">
										<div class="card-body">
											<p class="card-text">レビュー投稿するには<a
													th:href="@{	/membership/subscribe}">有料会員登録</a>が必要です。</p>
											<button type="submit" class="btn text-white shadow-sm w-100 kadai_002-btn"
												disabled>投稿する</button>
										</div>
									</div>
								</div>

								<div sec:authorize="hasRole('ROLE_PAID_MEMBER')" class="col-lg-4 px-0 ps-lg-4 mb-4">
									<div class="card">
										<div class="card-body">
											<form th:action="@{/reviews/stores/{id}/reviews/confirm(id=${store.id})}"
												method="post" th:object="${reviewInputForm}">
												<div class="form-group mb-2">
													<label for="rating"
														class="col-form-label text-md-left fw-bold">評価：</label>
													<select th:field="*{rating}" class="form-control">
														<option value="1">★</option>
														<option value="2">★★</option>
														<option value="3">★★★</option>
														<option value="4">★★★★</option>
														<option value="5">★★★★★</option>
													</select>
													<span th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}"
														class="text-danger small"></span>
												</div>
												<div class="form-group mb-2">
													<label for="comment"
														class="col-form-label text-md-left fw-bold">コメント：</label>
													<textarea th:field="*{comment}" class="form-control"
														required=""></textarea>
													<span th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}"
														class="text-danger small"></span>
												</div>
												<input type="hidden" th:field="*{storeId}" th:value="${store.id}" />
												<input type="hidden" th:field="*{userId}"
													th:value="${#authentication.principal.id}" />
												<div class="form-group d-flex justify-content-center my-4">
													<button type="submit"
														class="btn text-white shadow-sm w-50 kadai_002-btn">確認する</button>
												</div>
											</form>
										</div>
									</div>
								</div>

								<div sec:authorize="isAnonymous()" class="col-lg-4 px-0 ps-lg-4 mb-4">
									<div class="card">
										<div class="card-body">
											<p class="card-text">予約するには<a th:href="@{/login}">ログイン</a>が必要です。</p>
											<button type="submit" class="btn text-white shadow-sm w-100 kadai_002-btn"
												disabled>予約する</button>
										</div>
									</div>
								</div>

								<div sec:authorize="isAuthenticated()" class="col-lg-4 px-0 ps-lg-4 mb-4">
									<div class="card">
										<div class="card-body">
											<form method="get"
												th:action="@{/stores/{id}/reservations/input(id=${store.id})}"
												th:object="${reservationInputForm}" th:data-store-id="${store.id}">
												<div class="form-group mb-2">
													<label for="reservationDate"
														class="col-form-label text-md-left fw-bold">来店日</label>
													<input class="form-control" id="reservationDate"
														name="reservationDate" th:field="*{reservationDate}"
														autocomplete="off" required />
												</div>
												<div class="form-group mb-2">
													<label for="reservationTime"
														class="col-form-label text-md-left fw-bold">来店時間</label>
													<select class="form-control" id="reservationTime"
														name="reservationTime" th:field="*{reservationTime}" required>
														<option value="">選択してください</option>
														<option value="00:00">00:00</option>
														<option value="00:30">00:30</option>
														<option value="01:00">01:00</option>
														<option value="01:30">01:30</option>
														<option value="02:00">02:00</option>
														<option value="02:30">02:30</option>
														<option value="03:00">03:00</option>
														<option value="03:30">03:30</option>
														<option value="04:00">04:00</option>
														<option value="04:30">04:30</option>
														<option value="05:00">05:00</option>
														<option value="05:30">05:30</option>
														<option value="06:00">06:00</option>
														<option value="06:30">06:30</option>
														<option value="07:00">07:00</option>
														<option value="07:30">07:30</option>
														<option value="08:00">08:00</option>
														<option value="08:30">08:30</option>
														<option value="09:00">09:00</option>
														<option value="09:30">09:30</option>
														<option value="10:00">10:00</option>
														<option value="10:30">10:30</option>
														<option value="11:00">11:00</option>
														<option value="11:30">11:30</option>
														<option value="12:00">12:00</option>
														<option value="12:30">12:30</option>
														<option value="13:00">13:00</option>
														<option value="13:30">13:30</option>
														<option value="14:00">14:00</option>
														<option value="14:30">14:30</option>
														<option value="15:00">15:00</option>
														<option value="15:30">15:30</option>
														<option value="16:00">16:00</option>
														<option value="16:30">16:30</option>
														<option value="17:00">17:00</option>
														<option value="17:30">17:30</option>
														<option value="18:00">18:00</option>
														<option value="18:30">18:30</option>
														<option value="19:00">19:00</option>
														<option value="19:30">19:30</option>
														<option value="20:00">20:00</option>
														<option value="20:30">20:30</option>
														<option value="21:00">21:00</option>
														<option value="21:30">21:30</option>
														<option value="22:00">22:00</option>
														<option value="22:30">22:30</option>
														<option value="23:00">23:00</option>
														<option value="23:30">23:30</option>
														<option value="24:00">24:00</option>
													</select>
												</div>
												<div class="form-group mb-4">
													<label for="numberOfPeople"
														class="col-form-label text-md-left fw-bold">来店人数</label>
													<div th:if="${#fields.hasErrors('numberOfPeople')}"
														class="text-danger small mb-2" th:errors="*{numberOfPeople}">
													</div>
													<input type="number" class="form-control" id="numberOfPeople"
														name="numberOfPeople" th:field="*{numberOfPeople}" min="1">
												</div>
												<div class="form-group d-flex justify-content-center my-4">
													<button type="submit"
														class="btn text-white shadow-sm w-50 kadai_002-btn">予約する</button>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>

		<!-- フッター -->
		<div th:replace="~{fragment :: footer}"></div>
	</div>
	<!-- Flatpickr -->
	<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
	<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>
	<script>
		flatpickr.localize(flatpickr.l10ns.ja);
	</script>
	<script th:src="@{/js/reservations.js}"></script>
	<div th:replace="~{fragment :: scripts}"></div>
</body>

</html>